#title{
    text-align: center;
    margin-bottom: 50px;
    text-decoration: underline;
    font-size: 50px;
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
}

html, body{
    background-color: #DBD9C6;
    margin-left: 15px;
}

p{
    text-align: left;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

h2, h3{
    text-decoration: underline;
    font-family: "Fondamento", cursive;
}


#geographic_map{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#percentage_bar_chart{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#scatterplot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#linechart{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#pie_charts{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#diverging_bar_chart{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.conclusion{
    text-align: right;
    margin-right: 25px;
}

#conclusion_title{
    margin-top: 40px;
}

#conclusion_text{
    margin-bottom: 25px;
}

.part1{
    margin-bottom: 75px;
    background-color: #F1EBAF;
    margin-right: 25px;
}

.part2{
    margin-bottom: 75px;
    background-color: #F1EBAF;
    margin-right: 25px;
}

.part3{
    background-color: #F1EBAF;
    margin-right: 25px;
}
